@using WebFileManager.Models
@{
    ViewBag.Title = "Choose Path to Explore";
    Layout = "~/Views/Shared/_LayoutWithRibbon.cshtml";
}

<div class="row" id="folder_selection">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Select Root Folder</div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { @class = "form form-horizontal" }))
                {
                    <div class="form-group">
                        <input type="radio" name="root_path_start" id="root_path_start_webroot" onClick="HideProjectDisableRootBox('C:\\inetpub\\wwwroot');" checked />&nbsp;Web Root (C:\inetpub\wwwroot)<br />
                        @foreach(Shortcut item in ViewBag.items)
                        { 
                            <input type="radio" name="root_path_start" id="@item.title" onClick="HideProjectDisableRootBox('@item.path.Replace("\\", "\\\\")');" /><span>&nbsp;@item.title&nbsp;&#40;@item.path&#41;</span><br />
                        }
                        <input type="radio" name="root_path_start" id="root_path_start_custom" onClick="EnableRootBox();" />&nbsp;Custom (Enter Below)
                    </div>

                    <div class="form-group">
                        <label for="root_folder" class="control-label col-lg-2">Root Folder</label>
                        <div class="col-lg-10">
                            <input type="text" name="root_folder" id="root_folder" class="form-control" value="C:\inetpub\wwwroot" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-primary">
                                Select
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>